html {
    max-width: 75ch;
    margin: auto;
    padding: 0;
    line-height: 1.75;
    font-size: 1.25em;
    font-family: Arial;
    background-color: #151515;
    color: #ddd;
    background-image: url(grid2.png);
}

body {
    padding: 0;
    margin: 0;
}

#content {
    background-color: #151515;
    padding: 3em 3em;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    box-shadow: 0.5em 0.5em 0.5em black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: titleFont;
    text-shadow: 0.15em 0.15em black;
    color: white;
}


a:link, a:visited { color: #4B67CC }
/*a:visited { color: darkslateblue }*/
a:hover, a:active { color: #7C97EF }

@font-face {
    font-family: titleFont;
    src: url(mini-wakuwaku.otf);
}
