:root {
  --bg-color: #151515;
  --fg-color: white;
  --hi-color: white;
  overflow-x: hidden;
}

html {
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: Arial;
    font-size: 1.1em;
    line-height: 1.5em;
}

p {
    margin: 1rem;
}

body {
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--bg-color);
    min-height: 100vh;
    margin: 0;
    padding: 2rem;
}

h1 {
    font-family: titleFont;
    font-size: 3.5em;
    text-shadow: 0.15em 0.15em black;
}

h2 {
    font-family: titleFont;
    font-size: 2em;
    text-shadow: 0.15em 0.15em black;
}

h3, h4, h5, h6 {
    font-family: titleFont;
    text-shadow: 0.15em 0.15em black;
}

footer {
    width: 100vw;
    overflow: hidden;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #080809;
    color: #555;
    text-align: center;
}

.centered {
    width: min(90vw, 1000px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.pageheader {
    background-image: url(space.jpg);
    background-repeat: both;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
    color: var(--hi-color);
    overflow: hidden;
    display: block;
}

.headerGradient {
    background: rgb(21,21,21);
    background: linear-gradient(180deg, rgba(21,21,21,0) 0%, rgba(21,21,21,1) 100%, rgba(21,21,21,1) 100%); 
    height: 0.5rem;
}

.projectDisplay {
    overflow: hidden;
    display: block;
    height: 100px;
    position: relative; /* so img and overlay can be positioned relative to it */
    transition: transform 100ms ease-out;
    margin-bottom: 1rem;
}

.projectDisplay:hover {
    transform: translateX(10px);
    outline: solid;
}

.projectDisplay img {
    position: absolute;
    top: 0px;
    z-index: -1; /* so it's under the bg of the overlay */
    width: 100%;
}

.projectDisplay h2 {
    position: absolute;
    top: 32px;
    left: 8px;
    color: var(--fg-color);
    text-shadow: 0px 0px 5px black;
}

.projectDisplayOverlay {
    background-image: linear-gradient(to right, #0000, var(--bg-color));
    height: 100px;
    width: 100%;
    position: absolute
    top: 0px;
}

@font-face {
    font-family: titleFont;
    src: url(LondrinaSolid-Black.ttf);
}

/*************************************************************************
 * link coloring
*************************************************************************/

a:link, a:visited { color: #4B67CC }
/*a:visited { color: darkslateblue }*/
a:hover, a:active { color: #7C97EF }

a svg {
    fill: white;
}

a svg:hover {
    fill: #4B67CC;
}

/* make sure links don't look ugly when in headers */
h1 a:link { text-decoration: inherit; color: inherit; }
h2 a:link { text-decoration: inherit; color: inherit; }
h3 a:link { text-decoration: inherit; color: inherit; }
h1 a:visited { text-decoration: inherit; color: inherit; }
h2 a:visited { text-decoration: inherit; color: inherit; }
h3 a:visited { text-decoration: inherit; color: inherit; }

/*************************************************************************
 * scrollbar coloring
*************************************************************************/

html, body {
  scrollbar-color: #555 var(--bg-color);
}
body::-webkit-scrollbar { background: var(--bg-color); }
body::-webkit-scrollbar-thumb { background: #555; }
