:root {
  --bg-color: #151515;
  --fg-color: white;
  --hi-color: white;
  overflow-x: hidden;
}

.pageheader {
    background-image: url(grid2.png);
    background-repeat: both;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
    color: var(--hi-color);
    overflow: hidden;
    display: block;
}

body {
    background-color: var(--bg-color);
    margin: 0px;
    width: 100vw;
    color: var(--fg-color);
    font-family: pageFont;
    font-size: 1.1em;
    line-height: 1.5em;
}

h1 {
    font-family: titleFont;
    font-size: 3.5em;
    text-shadow: 8px 8px black;
}

h2 {
    font-family: titleFont;
    font-size: 2em;
    text-shadow: 5px 5px black;
}

footer {
    width: 100vw;
    overflow: hidden;
    margin-top: 100px;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #080809;
    color: #555;
    text-align: center;
}

main {
    width: min(90vw, 1000px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.projectDisplay {
    overflow: hidden;
    display: block;
    height: 100px;
    position: relative; /* so img and overlay can be positioned relative to it */
    animation-name: testanimback;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    margin-bottom: 1em;
}

.projectDisplay:hover {
    animation-name: testanim;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

@keyframes testanim {
    0% { left: 0px; }
    100% { left: 10px; }
}

@keyframes testanimback {
    0% { left: 10px; }
    100% { left: 0px; }
}

.projectDisplay img {
    position: absolute;
    top: 0px;
    z-index: -1; /* so it's under the bg of the overlay */
    width: 100%;
}

.projectDisplay h2 {
    position: absolute;
    top: 32px;
    left: 8px;
    color: var(--fg-color);
    text-shadow: 0px 0px 5px black;
}

.projectDisplayOverlay {
    background-image: linear-gradient(to right, #0000, var(--bg-color));
    height: 100px;
    width: 100%;
    position: absolute
    top: 0px;
}

@font-face {
    font-family: pageFont;
    src: url(Lato-Regular.ttf);
}

@font-face {
    font-family: titleFont;
    src: url(mini-wakuwaku.otf);
}

@font-face {
    font-family: outlineFont;
    src: url(mini-convenie.otf);
}

/*************************************************************************
 * link coloring
*************************************************************************/

a:link, a:visited { color: #4B67CC }
/*a:visited { color: darkslateblue }*/
a:hover, a:active { color: #7C97EF }

a svg {
    fill: white;
}

a svg:hover {
    fill: #4B67CC;
}

/* make sure links don't look ugly when in headers */
h1 a:link { text-decoration: inherit; color: inherit; }
h2 a:link { text-decoration: inherit; color: inherit; }
h3 a:link { text-decoration: inherit; color: inherit; }
h1 a:visited { text-decoration: inherit; color: inherit; }
h2 a:visited { text-decoration: inherit; color: inherit; }
h3 a:visited { text-decoration: inherit; color: inherit; }

/*************************************************************************
 * scrollbar coloring
*************************************************************************/

html, body {
  scrollbar-color: #555 var(--bg-color);
}
body::-webkit-scrollbar { background: var(--bg-color); }
body::-webkit-scrollbar-thumb { background: #555; }

